body {
    color :red;
    text-decoration: line-through;
}
.header{
    background-color: black;
}

.menu{
    background-color: yellow;
}
.section{
    background-color: pink;
}

.article {
    background-color: green;
}